In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#carga de archivo
df= pd.read_excel('Datos de Facturación.xlsx')
df

In [ ]:
#verificacion informacion del DataFrame
df.info()

1-CVE_CLPV (valores: 1000 a 2000)

In [5]:
#Filtro y: se muestra la informacion consecutiva de los valores mayor a 1000 y menor a 2000
df["CVE_CLPV"]= pd.to_numeric(df["CVE_CLPV"], errors="coerce")
fil1= df[(df['CVE_CLPV'] >= 1000) & (df['CVE_CLPV'] <= 2000)]
fil1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0.0
71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0.0
10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0.0
10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0.0
10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0.0
10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0.0

2-CVE_VEND     (Todas las claves excepto “5” y “4”)

In [ ]:
#filtro Y con filto not: muestra todas las clves exepto la 5 y la 4
fil2= df[~(df["CVE_VEND"] == 4) & ~(df["CVE_VEND"] == 5)]
fil2

3-FECHA_ENT   (Fechas de “28/02/2022”)

In [ ]:
#filtro por objeto: extraeremos unicamente los valores de FECHA_ENT ques ean igual a 28/02/2022
# Convertir la columna de fecha al tipo datetime
df['FECHA_ENT'] = pd.to_datetime(df['FECHA_ENT'], errors='coerce', format='%d/%m/%Y %H:%M')
fil3= df[df['FECHA_ENT'].dt.date == pd.to_datetime("28/02/2022").date()]
fil3

4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (“E”)

In [ ]:
#filtro O: muestra los valores de la columna CAN_TOT menores que 5951.7 O con STATUS igual E
fil4=df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
fil4

5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT

In [ ]:
#filtro por columnas no consecutivas filtra unicamente las columnas CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
fil5= df.iloc[ : , [0,6,7,9]]  
fil5

6-Solo las filas de 7001-7099

In [10]:
#filtro por filas: se filtran las filas consecutivas de la 7001 a la 8000 (la primera empezando desde 0)
fil6= df.iloc[7001:8000,: ] 
fil6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06,2021-11-14,NaT,8555.240,0.0,0.0
7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14,2021-10-15,NaT,620.770,0.0,0.0
7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15,2021-10-15,NaT,560.000,0.0,0.0
7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15,2021-12-14,NaT,23625.000,0.0,0.0
7005,F36421,5039.0,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08,2022-01-13,NaT,3308.780,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,F37411,6644.0,E,2.0,2022-02-18 12:21:13.887,2022-02-18,2022-02-18,2022-02-18,NaT,661.818,0.0,0.0
7996,F37412,4649.0,E,2.0,2022-02-18 12:32:09.677,2022-02-18,2022-02-17,2022-02-18,NaT,2077.500,0.0,0.0
7997,F37413,NaN,E,2.0,2022-02-18 13:06:27.717,2022-02-18,2022-02-18,2022-02-18,NaT,570.000,0.0,0.0
7998,F37414,5150.0,E,3.0,2022-02-18 13:58:24.200,2022-02-18,2022-02-18,2022-02-18,NaT,2040.000,0.0,0.0
7999,F37415,8316.0,E,2.0,2022-02-18 14:08:12.533,2022-02-18,2022-02-18,2022-02-18,NaT,3722.100,0.0,0.0

7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)

In [ ]:
#Filtro de filas vs colas
#Paso 1: se indica que la columna CVE_VEND sera utilizada como indice
df1= pd.read_excel('Datos de Facturación.xlsx', index_col=3)
#paso 2: se filtran las filas con valores 1 y 2, en las columnas se filtra unicamente la columna FECHAELAB
fil7= df1.loc[[1, 2], ["FECHAELAB"]]
fil7

In [24]:
fil1.to_csv("Ejer1_Y.csv")
fil2.to_csv("Ejer2_Y-not.csv")
fil3.to_csv("Ejer3_Objeto.csv")
fil4.to_csv("Ejer4_O.csv")
fil5.to_csv("Ejer5_Col_no_consecutivas.csv")
fil6.to_csv("Ejer6_fil_consecutivas.csv")
fil7.to_csv("Ejer7_fil_vs_col.csv")